#redirectPageHeader {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(185, 206, 24);
  padding: 0 5%;
  /* height: 5rem; */
  margin-bottom: 1rem;
}

#redirectPageHeader ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#redirectPageHeader li {
  margin: 0 1rem;
}
#redirectPageHeader nav a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}

#redirectPageHeader nav a:hover {
  color: rgb(228, 165, 38);
}

#sideNote{
  color: darkgrey;
  text-align: center;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

main h1 {
  text-align: center;
  color: blue;
}

.cardsContent p{
  height: 10rem;
}

.cardsItems img{
  height: auto;
}